<!--Some arrays of objects for displaying purposes, once there is course data in the database, we will pull from that information instead 
  and delete this abomination -->
<% currentCourses = [{
  number: "MATH 158",
  name: "Calculus 3",
  credit: 4,
  more: {
    grade: 'A',
    category: ['Mathematical Course', 'Mobile Applications Course'],
    date: 'Current',
  }
},{
  number: "CS 404",
  name: "Adv Web and Internet",
  credit: 3,
  more: {
    grade: 'B+',
    category: ['Mobile Applications Course'],
    date: 'Current',
  }
},{
  number: "MSCS 234",
  name: "Machine Learning",
  credit: 3,
  more: {
    grade: 'B',
    category: ['Mathematical Course', 'Mobile Applications Course'],
    date: 'Current',
  }
}]
completedCourses = [{
  number: "MATH 157",
  name: "Calculus 2",
  credit: 4,
  more: {
    grade: 'A-',
    category: ['Mathematical Course'],
    date: 'Fall 2020',
  }
},{
  number: "CS 380",
  name: "Web and Internet",
  credit: 3,
  more: {
    grade: 'A',
    category: ['Mathematical Course'],
    date: 'Spring 2018',
  }
},{
  number: "ENGL 102",
  name: "English 2",
  credit: 2,
  more: {
    grade: 'C+',
    category: ['Communication Skills'],
    date: 'Summer 2019',
  }
}]
futureCourses = [{
  number: "MATH 157",
  name: "Calculus 2",
  credit: 4,
  more: {
    grade: 'A-',
    category: ['Mathematical Course'],
    date: 'Fall 2020',
  }
},{
  number: "CS 380",
  name: "Web and Internet",
  credit: 3,
  more: {
    grade: 'A',
    category: ['Mathematical Course'],
    date: 'Spring 2018',
  }
},{
  number: "ENGL 102",
  name: "English 2",
  credit: 2,
  more: {
    grade: 'C+',
    category: ['Communication Skills'],
    date: 'Summer 2019',
  }
}]
%>
<div class="courses-container card">
  <div class="card-header">

    <ul class="nav nav-pills w-100">
      <li class="nav-pill active">
        <a class="nav-link">Courses</a>
      </li>
      <li class="nav-pill ml-auto">
        <button id="create-course-button" type="button" class="btn nav-link btn-stout" data-toggle="modal"
          data-target="#create-course-modal">
          Create Course
        </button>
      </li>
    </ul>
    <hr>
    <button type="button" class="btn btn-primary btn-stout" onclick="showCompleted()" id="completeBtn">Completed
      Courses</button>

    <button type="button" class="btn btn-primary btn-stout" onclick="showCurrent()" id="currBtn">Current
      Courses</button>

    <button type="button" class="btn btn-primary btn-stout" onclick="viewCourses()" id="viewBtn">
      View Courses
    </button>
  </div>

  <div class="courses-holder card-body">
    <input class="form-control mb-2" id="courseSearchBar" type="text" placeholder="Search..." />

    <table id="completedTable" class="table table-striped">
      <tr>
        <th style="width: 33%">Course Number</th>
        <th style="width: 33%">Course Name</th>
        <th style="width: 20%">Credit Amount</th>
        <th>Course Options</th>
      </tr>
      <% for(var i=0; i < completedCourses.length; i++) { %>
        <tr>
          <td>
            <%-completedCourses[i].number%>
          </td>
          <td>
            <%-completedCourses[i].name %>
          </td>
          <td>
            <%-completedCourses[i].credit %>
          </td>
          <td>
            <button type="button" class="btn btn-info" data-toggle="modal"
              data-target="#<%-completedCourses[i].name%>Modal">
              More
            </button>
          </td>
          <div class="modal fade" id="<%-completedCourses[i].name%>Modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">
                    <%-completedCourses[i].name%>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul>
                    Grade Letter: <%-completedCourses[i].more.grade%>
                  </ul>
                  <ul>
                    Date: <%-completedCourses[i].more.date%>
                  </ul>
                  <ul>
                    Category/s: <%completedCourses[i].more.category.forEach(category=> {%>
                      <ul>
                        <%-category%>
                      </ul>
                      <%})%>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <% } %>
    </table>
    <table id="currentTable" class="table table-striped">
      <tr>
        <th style="width: 33%">Course Number</th>
        <th style="width: 33%">Course Name</th>
        <th style="width: 20%">Credit Amount</th>
        <th>Course Options</th>

      </tr>
      <% for(var i=0; i < currentCourses.length; i++) { %>
        <tr>
          <td>
            <%-currentCourses[i].number%>
          </td>
          <td>
            <%-currentCourses[i].name %>
          </td>
          <td>
            <%-currentCourses[i].credit %>
          </td>
          <td>
            <button type="button" class="btn btn-info" data-toggle="modal"
              data-target="#<%-currentCourses[i].name%>Modal">
              More
            </button>
          </td>
          <div class="modal fade" id="<%-currentCourses[i].name%>Modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">
                    <%-currentCourses[i].name%>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul>
                    Grade Letter: <%-currentCourses[i].more.grade%>
                  </ul>
                  <ul>
                    Date: <%-currentCourses[i].more.date%>
                  </ul>
                  <ul>
                    Category/s: <%currentCourses[i].more.category.forEach(category=> {%>
                      <ul>
                        <%-category%>
                      </ul>
                      <%})%>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <% } %>
    </table>
    <table id="viewTable" class="table table-striped">
      <tr>
        <th>Course Id</th>
        <th>Course Name</th>
        <th>Credit Amount</th>
        <th>Course Section</th>
        <th>Action</th>
      </tr>
      <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td>
            <%-data[i].id%>
          </td>
          <td>
            <%-data[i].name %>
          </td>
          <td>
            <%-data[i].credits %>
          </td>
          <td>
            <%-data[i].section %>
          </td>

          <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#<%-data[i].name%>Modal">
              More
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#<%-data[i].name%>ModalAdd">
              Add to Term
            </button>
            <button type="button" class="btn btn-info edit" data-toggle="modal" data-target="#<%-data[i].id%>-edit">
              Edit
            </button>
          </td>

          <div class="modal fade" id="<%-data[i].name%>Modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">
                    <%-data[i].name%>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul>
                    Year: Not Defined Yet
                  </ul>
                  <ul>
                    Category/s:
                    <ul>
                      Not Defined Yet
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="<%-data[i].name%>ModalAdd" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">
                    <%-data[i].name%>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="needs-validation" novalidate>
                    <div>
                      <label for="select" class="form-label">Add Class To:</label>
                      <select class="form-select" id="select" aria-label="Default select example" name="selectTerm"
                        required>
                        <option selected disabled value="">Select a term</option>
                        <option value="1">Fall Term</option>
                        <option value="2">Winterm</option>
                        <option value="3">Spring Term</option>
                        <option value="4">Summer Term</option>
                      </select>
                      <div class="invalid-feedback">Please Select an option.</div>
                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </tr>

        <!-- Edit course modal -->
        <div id="<%-data[i].id%>-edit" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">
                  <%-data[i].name%>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div id='failed-edit-alert-<%-data[i].id%>' class="alert alert-danger alert-dismissible fade show"
                role="alert" style="display:none">
                Failed to update course.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id='success-edit-alert-<%-data[i].id%>' class="alert alert-success alert-dismissible fade show"
                role="alert" style="display:none">
                Successfully updated the course.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <a 
                  type="button" 
                  href="courses/remove/<%-data[i].id%>" 
                  onclick="return confirm('Are you sure you want to delete <%-data[i].name%>?');" 
                  class="btn btn-danger">Delete Course
                </a>
              </div>
              <form id='edit-course-form' data-id="<%-data[i].id%>" class="needs-validation" novalidate>
                <div class="modal-body">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="course-number">Course Number</label>
                      <input type="text" class="form-control validate" id="course-number"
                        placeholder="Course Prefix and Number" value="<%-data[i].prefix%>">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="course-name">Course Name</label>
                      <input type="text" class="form-control validate" id="course-name" placeholder="Course Name"
                        value="<%-data[i].name%>">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="course-credits">Credits</label>
                      <input type="text" class="form-control validate" id="course-credits" placeholder="Credits"
                        value="<%-data[i].credits%>">
                    </div>
                  </div>
                  <br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary"
                    onClick="submitCourseEditForm(this.form)">Submit</button>
                  <button type="button" class="btn btn-danger" onClick="resetPlan();">Reset</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </tr>

      <!-- Edit course modal -->
      <div id="<%-data[i].id%>-edit" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><%-data[i].name%></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id='failed-edit-alert-<%-data[i].id%>' class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
              Failed to update course.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id='success-edit-alert-<%-data[i].id%>' class="alert alert-success alert-dismissible fade show" role="alert" style="display:none">
              Successfully updated the course.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id='edit-course-form' data-id="<%-data[i].id%>" class="needs-validation" novalidate>
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="course-number">Course Number</label>
                    <input type="text" class="form-control validate" id="course-number" placeholder="Course Prefix and Number" value="<%-data[i].prefix%>">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="course-name">Course Name</label>
                    <input type="text" class="form-control validate" id="course-name" placeholder="Course Name" value="<%-data[i].name%>">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="course-credits">Credits</label>
                    <input type="text" class="form-control validate" id="course-credits" placeholder="Credits" value="<%-data[i].credits%>">
                  </div>
                </div>
                <br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onClick="submitCourseEditForm(this.form)">Submit</button>
                <button type="button" class="btn btn-danger" onClick="resetPlan();">Reset</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <% } %>
    </table>
    <div class="course-item-holder"></div>
  </div>
  <%- include('./createCourseModal') %>
</div>