<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a class="navbar-brand" href="#">Program Course Advisor</a>
      <a class="nav-link <%= group === 'advise' ? 'active' : ''%>" href="/advise"> Advise</a>
      <a class="nav-link <%= group === 'manage' ? 'active' : ''%>" href="/manage">Manage</a>
      <a class="nav-link <%= group === 'admin' ? 'active' : ''%>" href="/admin">Admin</a>
      <a class="nav-link <%= group === 'major' ? 'active' : ''%>" href="/major">Major</a>
      <a class="nav-link <%= group === 'courses' ? 'active' : ''%>" href="/courses">Courses</a>
    </div>
    <div class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
            <%= email %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
