<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block"
      rel="stylesheet"
    />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body class="container" style="margin-top: 50px;">
    <div class="alert alert-primary d-flex align-items-center" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <div class="pl-2">
        You are logged in as an <%= role %>.
      </div>
    </div>
    <header>
      <%- include('./partials/navigation') %>
    </header>
    <%- include(`../pages/${group}/${template}`) %>        <%- include('./partials/scripts') %>
  </div>
  </body>
</html>
