<% if (messages.success) { %>
<div class="alert alert-success" role="alert"><%- messages.success %></div>
<% } %> <% if (messages.error) { %>
<div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills w-100">
      <li class="nav-pill active">
        <a class="nav-link">Users</a>
      </li>
      <li class="nav-pill ml-auto">
        <a class="nav-link active" href="/users/add">Add User</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <script>
      function editUserPopup() {
        $('#modalContent').hide();
        $('#changeUserPermission').show();
      }

      function deleteUserPopup(idNum, email) {
        if (confirm('Are You sure you want to delete this user?')) {
          // delete the user of idNum
          return new Promise((resolve, reject) => {
            axios
              .delete('/users')
              .send({ userId: idNum, email: email })
              .then((response) => {
                return resolve(response.data);
              })
              .catch((error) => {
                return reject(error);
              });
          });
        } else {
          // do nothing
        }
      }
    </script>
    <% if(data.length) { %>
    <input class="form-control" id="searchBar" type="text" placeholder="Search..." />

    <table class="table" id="userTable">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Enabled</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th width="300px">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i< data.length; i++) { %>
        <tr>
          <th scope="row" class="align-middle"><%= data[i].id %></th>
          <td class="align-middle">
            <% if (data[i].enable) { %>
            <span class="badge badge-success">Active</span>
            <%} else { %>
            <span class="badge badge-light">Disabled</span>
            <% } %>
          </td>
          <td class="align-middle"><%= data[i].email%></td>
          <td class="align-middle"><%= data[i].role%></td>
          <td class="align-middle">
            <!-- Modal making one modal only, -->
            <div class="modal fade" id="detailModal<%=i%>" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel"><%=data[i].email%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="modalContent">
                    Email: <%= data[i].email%><br />
                    Role: <%= data[i].role%> <br />
                    Major: Computer Science <br />
                    Graduation Year: 2022 <br />
                  </div>
                  <div class="modal-body" id="changeUserPermission" aria-hidden="true">
                    <h4>Select Role:</h4>
                    <input type="radio" id="superAdmin" name="role" value="superadmin" />
                    <label for="superAdmin">Super Admin</label><br />
                    <input type="radio" id="admin" name="role" value="admin" />
                    <label for="admin">Admin</label><br />
                    <input type="radio" id="user" name="role" value="user" checked="checked" />
                    <label for="user">User</label><br />

                    <br />
                    <h4>Active Status:</h4>
                    <input type="radio" id="enabled" name="active" value="enabled" />
                    <label for="enabled">Enable</label><br />
                    <input
                      type="radio"
                      id="disabled"
                      name="active"
                      value="disabled"
                      checked="checked"
                    />
                    <label for="disabled">Disable</label><br />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Close
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-dismiss="modal"
                      onclick="submitUserEdits('<%=data[i].id%>')"
                    >
                      Complete
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <script>
              function submitUserEdits(userId) {
                var role, active;
                if (
                  document.querySelector('input[name="role"]:checked').value &&
                  document.querySelector('input[name="active"]:checked').value
                ) {
                  role = document.querySelector('input[name="role"]:checked').value;
                  active = document.querySelector('input[name="active"]:checked').value;
                } else {
                  console.log('Something went wrong');
                }

                //submit role changes to userId backend
                //submit active changes to userId backend
              }
            </script>
            <a
              href="#"
              class="btn btn-info"
              data-toggle="modal"
              data-target="#detailModal<%=i%>"
              id="viewButton<%i%>"
              >View</a
            >
            <a
              class="btn btn-secondary edit"
              data-toggle="modal"
              data-target="#detailModal<%=i%>"
              id="editButton<%i%>"
              onclick="editUserPopup()"
              >Edit</a
            >
            <a
              class="btn btn-danger delete"
              onclick='deleteUserPopup("<%=data[i].id%>", "<%=data[i].email%>")'
              >Delete</a
            >
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>

    <!-- if result is empty -->
    <% if(!data.length) { %>
    <p class="text-center">No Users found!</p>
    <% } %>
  </div>
</div>
